*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, var(--navy-950), var(--navy-800));
    color: var(--text);
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
}

header {
    margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}
